body {
  background-color: #edebed;
}

header {
  background-color: #4a2373;
  display: flex;
}

.logo {
  padding-left: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.ul-nav {
  list-style: none;
  padding-top: 0.75rem;
}

main {
  padding: 0 2rem;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

#placeholder-image {
  object-fit: cover;
  width: 100%;
  max-height: 400px;
  margin-bottom: 1.5rem;
}

.title,
.url,
.notes {
  width: 100%;
}

label {
  font-weight: 600;
}

.input-area,
.text-area {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

#entry-title,
#entry-url,
#entry-notes {
  width: 100%;
  border: 1px solid #cccbcc;
  border-radius: 5px;
  padding: 0.5rem;
}

#entry-title:focus,
#entry-url:focus,
#entry-notes:focus {
  outline: none;
  border: 1px solid #4a2373;
}

.entry-btn {
  display: flex;
  justify-content: flex-end;
}

.entry-save-btn {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  background-color: #4a2373;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.7s ease-in-out;
}

.entry-save-btn:hover {
  background-color: #844ac2;
}

.entry-save-btn:focus {
  outline: none;
}

.entry-save-btn:active {
  transform: translateY(0.25rem);
}

@media screen and (min-width: 769px) {
  .form-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .column-image {
    padding-right: 2rem;
  }

  .column-image,
  .column {
    width: 50%;
  }

  .main-container .column:last-child {
    width: 100%;
  }
}
